<h2>Lista de Contatos</h2>

<div class="form-group row pesquisa">
    <label for="" class="col-sm-2 col-form-label">Filtrar Por:</label>
    <div class="col-sm-10">
        <input [(ngModel)]="filtrar" type="text" class="form-control">
    </div>
</div>

<table class = "table table-striped" width="100">
    <thead>
        <th>CONTATOS</th>
        <th>OPÇÕES</th>
    </thead>
    <tbody>
        <tr *ngFor="let usuario of usuariosFiltrados">
            <td><app-cartao-de-visita [usuario]="usuario" ></app-cartao-de-visita></td>
            <td><div class="botoes-contato">
                <a [routerLink]="['/usuario/info', usuario.id]" class="btn btn-primary">Editar</a>
                <button (click)="deleteById(usuario.id!)" class="btn btn-danger">Deletar</button>
            </div></td>
        </tr>
    </tbody>
</table>